@font-face {
  font-family: 'LuissSans-ThinSans';
  src: url('/LuissSans-ThinSans.otf');
}

body {
  font-family:  'LuissSans-ThinSans'
}

footer {
  font-family:  'LuissSans-ThinSans'
}

code {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 85%;
}

h1 {
    font-family: 'LuissSans-ThinSans';
}

h2 {
    font-family: 'LuissSans-ThinSans';
}


h3 {
    font-family: 'LuissSans-ThinSans';
}

h4 {
    font-family: 'LuissSans-ThinSans';
}

h5 {
    font-family: 'LuissSans-ThinSans';
}

h6 {
    font-family: 'LuissSans-ThinSans';
}

html {
    font-family: 'LuissSans-ThinSans';
}

div {
    font-family: 'LuissSans-ThinSans';
}

span {
    font-family: 'Lucida Console', Monaco, monospace;
}

applet {
    font-family: 'LuissSans-ThinSans';
}

big {
    font-family: 'LuissSans-ThinSans';
}

cite {
    font-family: 'LuissSans-ThinSans';
}

legend {
    font-family: 'LuissSans-ThinSans';
}

del {
    font-family: 'LuissSans-ThinSans';
}

fieldset {
    font-family: 'LuissSans-ThinSans';
}

small {
    font-family: 'LuissSans-ThinSans';
}

strong {
    font-family: 'LuissSans-ThinSans';
}

ul {
    font-family: 'LuissSans-ThinSans';
}

sub {
    font-family: 'LuissSans-ThinSans';
}
strike {
    font-family: 'LuissSans-ThinSans';
}

li {
    font-family: 'LuissSans-ThinSans';
}
form {
    font-family: 'LuissSans-ThinSans';
}
label {
    font-family: 'LuissSans-ThinSans';
}
samp {
    font-family: 'LuissSans-ThinSans';
}
s {
    font-family: 'LuissSans-ThinSans';
}

kbd {
    font-family: 'LuissSans-ThinSans';
}

dfn {
    font-family: 'LuissSans-ThinSans';
}

q {
    font-family: 'LuissSans-ThinSans';
}
ins {
    font-family: 'LuissSans-ThinSans';
}
img {
    font-family: 'LuissSans-ThinSans';
}
em {
    font-family: 'LuissSans-ThinSans';
}
table {
    font-family: 'LuissSans-ThinSans';
}
caption {
    font-family: 'LuissSans-ThinSans';
}
tbody {
    font-family: 'LuissSans-ThinSans';
}
tfoot {
    font-family: 'LuissSans-ThinSans';
}
thead {
    font-family: 'LuissSans-ThinSans';
}
address {
    font-family: 'LuissSans-ThinSans';
}
acronym {
    font-family: 'LuissSans-ThinSans';
}
abbr {
    font-family: 'LuissSans-ThinSans';
}
tr {
    font-family: 'LuissSans-ThinSans';
}
a {
    font-family: 'LuissSans-ThinSans';
}
pre {
    font-family: 'LuissSans-ThinSans';
}
blockquote {
    font-family: 'LuissSans-ThinSans';
}
p {
    font-family: 'LuissSans-ThinSans';
}
iframe {
    font-family: 'LuissSans-ThinSans';
}
object {
    font-family: 'LuissSans-ThinSans';
}
th {
    font-family: 'LuissSans-ThinSans';
}
td {
    font-family: 'LuissSans-ThinSans';
}

sup {
    font-family: 'LuissSans-ThinSans';
}

tt {
    font-family: 'LuissSans-ThinSans';
}

var {
    font-family: 'LuissSans-ThinSans';
}

dl {
    font-family: 'LuissSans-ThinSans';
}

dt {
    font-family: 'LuissSans-ThinSans';
}

dd {
    font-family: 'LuissSans-ThinSans';
}

ol {
    font-family: 'LuissSans-ThinSans';
}

site-title {
    font-family: 'LuissSans-ThinSans';
}



logo {
    font-family: 'LuissSans-ThinSans';
}

search {
    font-family: 'LuissSans-ThinSans';
}


main {
    font-family: 'LuissSans-ThinSans';
}

header-inner {
    font-family: 'LuissSans-ThinSans';
}

.header-inner #logo,
#main-nav {
  float: left;
  font-family: 'LuissSans-ThinSans';
}
#sub-nav,
#search-form-wrap {
  float: right;
}
.header-inner {
  height: 100%;
  position: relative;
}
.header-inner #logo {
  display: inline-block;
}
.header-inner #logo .logo {
  margin-right: 5px;
  display: inline-block;
}
.header-inner #logo .site-title {
  display: inline-block;
  vertical-align: top;
  /* Ángela mod - title text */
  font-family: 'LuissSans-ThinSans';
  font-size: 1.2em;

  font-weight: bolder;
}
#profile.card .profile-inner:after {
  z-index: 0;
  border-color: transparent transparent #dbdee1 transparent;
}
.article {
  margin: 40px 0;
}
.article-inner {
  overflow: hidden;
}
.article-banner {
  width: 100%;
  height: auto;
}
.article-header {
  /* Ángela mod top padding to 10px */
  padding: 10px 20px 0;
}
.article-header .article-title {
  display: block;
  margin-bottom: 14px;
}
.article-title {
  font-size: 2em;
  color: #565a5f;
  text-decoration: none;
  line-height: 1.3em;
  /* Ángela mod */
  font-family: 'LuissSans-ThinSans';
}


.article-entry .caption {
  font-family: 'LuissSans-ThinSans';
}