{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

  <h1>{{ i18n "page_not_found" }}</h1>
  <p>{{ i18n "404_recommendations" }}</p>

  {{ $posts_len := len (where .Site.RegularPages "Section" "post") }}
  {{ if gt $posts_len 0 }}
  <h2>{{ i18n "posts" }}</h2>
  {{ range first 5 (where .Site.RegularPages "Section" "post") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}
  {{ end }}

{{ $journal_len := len (where .Site.RegularPages "Section" "journal") }}
{{ if gt $journal_len 0 }}
<h2>{{ i18n "journal" }}</h2>
{{ range first 5 (where .Site.RegularPages "Section" "journal") }}
<ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
</ul>
{{ end }}
{{ end }}


</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
